@tailwind base;
@tailwind components;
@tailwind utilities;

.glow {
    transition: all 0.3s ease-in-out;
}
.glow:hover {
    box-shadow: 0 0 24px 0 rgb(109 40 217);
}

.image_glow {
    box-shadow: 0 0 48px 0 rgb(109 40 217); 
}
.cv-button{
    transform: all 0.3s ease-in-out;
}
.cv-button:hover{
    box-shadow: 0 0 15px 0 rgb(109 40 217);
}

.know_glow{
    box-shadow: 0 0 15px 0 rgb(254 215 170);
}

.PRY_glow{
    box-shadow: 0 0 15px 0 rgba(122, 22, 244, 0.847);
}

